@import "tailwindcss";

@theme {
  --color-brand-blue: #0ea5e9;
  --color-bg-primary: #ffffff;
  --color-text-main: #0f172a;
}

:root {
  --brand-blue: #0ea5e9;
  --bg-primary: #ffffff;
  --text-main: #0f172a;
}

body {
  background-color: white;
  color: #0f172a;
  margin: 0;
  font-family: sans-serif;
}

.arab {
  font-family: serif;
}
